.sidebar2__profile {
  margin: 0.7rem 7px;
  background: #ff974a;
  border: 1px solid #ff974a;
  transition: all 0.3s ease-out;
  margin: 0.5rem 0.6rem;
  color: #fafafb;

  .ava__pic {
    border: 1px solid orange;
  }

  &:hover {
    transform: scale(1.04);
    background: #ff7a17;
  }

  .sidebar2__details {
    width: 100%;
    .sidebar2__user {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .name {
        width: 60%;
      }
      .time {
        width: 40%;
      }
    }

    .sidebar2__login {
      margin-top: 7px;
      color: #fafafb;
    }
  }
}

.active {
  transform: scale(1.04);
  background: #ff7a17;
  color: #fafafb;
}
